[Unit]
Description=MinIO server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/minio.pid %t/minio.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/minio.pid \
    --cidfile=%t/minio.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_SERVER_PORT}:9000 \
    --publish=127.0.0.1:${TCP_CONSOLE_PORT}:9001 \
    --env=MINIO_ROOT_USER=${MINIO_ROOT_USER} \
    --env=MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD} \
    --env=MINIO_DOMAIN=${MINIO_HOST_SERVER} \
    --volume=${MINIO_STORAGE}:/data:z \
    ${MINIO_IMAGE} server /data --console-address ":9001"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/minio.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/minio.ctr-id
PIDFile=%t/minio.pid
Type=forking

[Install]
WantedBy=default.target
